---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
---
<DashboardLayout currentPath='/dashboard/gestionar-productos', title='Dashboard | Gestionar Productos'>
    <h1>Gestionar Productos</h1>
</DashboardLayout>

