---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
---
<DashboardLayout currentPath='/dashboard/gestionar-categorias', title='Dashboard | Gestionar Categorías'>
    <h1>Gestionar Categorías</h1>
</DashboardLayout>

