---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
---
<DashboardLayout currentPath='/dashboard/mensajes-clientes', title='Dashboard | Mensajes de Clientes'>
    <h1>Mensajes de Clientes</h1>
</DashboardLayout>

