<section class="section-padding flex justify-center min-w-[275px] lg:pt-0 lg:min-h-0">    
    <div class="CTA-background w-full h-full rounded-4xl p-10 flex flex-col items-center justify-center gap-6 md:p-14 md:gap-8 lg:py-16 lg:h-fit">
        <h2 class="text-secondary text-2xl/7 font-bold text-center max-w-[30ch] md:text-3xl">¿Te interesa vender nuestros productos?</h2>
        <h3 class="text-secondary text-xl/6 font-medium text-center max-w-[30ch] md:text-3xl">Llena el formulario de contacto y nos comunicaremos contigo</h3>
        <button class="btn lg:mt-4">Contáctanos</button>
    </div>
</section>