<section class="bg-light-gray-2 min-w-[300px] px-6 py-10 flex flex-col gap-6 items-center md:flex-row md:p-12 lg:px-28 xl:px-36 xl:py-20">
    <div class="mx-8 md:m-0">
        <h2 class="section-title mb-6">Misión</h2>
        <p class="text">Ser líderes en el mercado de alimentos saludables en el territorio de la División Interamericana de la Zona 1, fabricados con las mejores tecnologías y un eficiente servicio, en armonía con la filosofía de la Iglesia Adventista del Séptimo Día</p>
    </div>

    <img src="/icons/dotted-line.svg" alt="Linea punteada" class="w-64 md:rotate-90">

    <div class="mx-8 md:m-0">
        <h2 class="section-title mb-6">Visión</h2>
        <p class="text">Promover la fabricación, distribución y venta de alimentos saludables en el territorio de AID, con el propósito de llevar adelante el mensaje de la reforma pro-salud, a través de una alimentación sana, enseñando y promoviendo su uso.</p>
    </div>
</section>
