<section class="bg-light-re section-padding flex flex-col gap-6 justify-between md:flex-row md:items-start">
    <div class="flex flex-col justify-center md:w-1/2 md:flex-row md:justify-start md:gap-2 lg:gap-4">
        <h2 class="section-title mb-0">Nuestra historia</h2>
        <img src="/icons/arrow-down-right.svg" alt="Flecha hacia abajo a la derecha" class="w-10 lg:w-12">
    </div>
   
    <div class="md:w-1/2">
        <p class="text font-semibold">
            Venepan nació en los años 70 como una pequeña panadería dentro del Instituto Vocacional de Venezuela (INSTIVOC), elaborando pan integral para los alumnos.
        </p>
        <p class="text mt-4">
            Con el tiempo, y gracias al entusiasmo de sus integrantes, el proyecto fue creciendo hasta convertirse en una industria reconocida por su aporte a la alimentación saludable.
        </p>
        <p class="text font-semibold">
            En los años 80 se registraron oficialmente los primeros productos ante el Ministerio de Sanidad, y en 1991 se formalizó el nombre “Venepan”, propuesto por un estudiante y registrado como marca.
        </p>
        <p class="text mt-4">
            En 2012 se dio un paso importante con la construcción de una planta para procesar cereales extruidos, en colaboración con American Extrusion International, ampliando así la línea de productos a panes integrales, texturizados de soya y cereales saludables.
        </p>
    </div>
</section>
