@import "tailwindcss";

@theme {
    --color-primary: #D73137;
    --color-secondary: #0060B3;
    --color-light-blue: rgb(225,236,247, 0.8);
    --color-light-green: #EAFCE0;
    --color-light-gray: rgba(211, 215, 207, 0.51);
    --color-light-gray-2: rgba(236, 242, 243);

    --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer components {
    .main-title {
        @apply font-bold text-4xl text-gray-800 mb-2 md:text-4xl lg:text-5xl;

    }
    .section-title {
        @apply font-semibold text-3xl text-gray-800 mb-6 mt-4 md:mt-0 md:text-4xl xl:text-[40px];

    }
    .text {
        @apply text-gray-800 mb-6 md:text-lg;
    }
    .light-text {
        @apply text-gray-600 mb-6 md:text-lg;
    }
    .btn {
        @apply bg-primary min-w-32 inline-flex items-center justify-center font-medium text-white px-5 py-3 rounded-3xl hover:bg-red-700/90 cursor-pointer transition-all hover:scale-95 active:scale-100 disabled:opacity-50 disabled:cursor-not-allowed; 
    }
    .secondary-btn {
        @apply bg-light-blue min-w-32 inline-flex items-center justify-center font-medium text-secondary px-5 py-3 rounded-3xl hover:bg-secondary/20 cursor-pointer transition-all hover:scale-95 active:scale-100 disabled:opacity-50 disabled:cursor-not-allowed; 

    }
    .recipe-btn {
        @apply min-w-0 px-5 text-sm
    }
    .section-padding {
        @apply px-6 py-10 min-w-[300px] sm:p-12 md:p-16 lg:p-20 lg:px-28 xl:p-28 lg:min-h-[470px];
    }
    .card-shadow { 
        box-shadow: 0 4px 4px 0 rgba(151, 151, 151, 0.25);
    }
    .card-hover {
        @apply transform hover:-translate-y-2 transition-transform duration-300 ease-in-out
    }

    /* SVG backgrounds */
    .reviews-background {
        background: url('/src/assets/images/inicio/reviews-background.svg') no-repeat center;
        background-size: cover;
    }
    .CTA-background {
        background: url('/src/assets/images/inicio/CTA-background.svg') no-repeat center;
        background-size: cover;
    }

    /* FAQ */
    summary {
        list-style: none;
        padding: 0px 30px 0px 0px;
        background: url('/icons/chevron-down-gray.svg') no-repeat right 50%;
        background-size: 20px;
        font-weight: bold;
    }
    details[open] summary {
        background: url('/icons/chevron-up-gray.svg') no-repeat right 50%;
        background-size: 20px;
    } 
}

html {
  font-family: var(--font-sans);
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  overflow-x: hidden;
}