---
import LogoutButton from '../components/auth/LogOutButton.tsx';
import AuthLayout from '../layouts/AuthLayout.astro';

---
<AuthLayout>
    <h1 class="text-3xl font-bold mb-4">¡Bienvenido a tu Dashboard!</h1>
    <p class="mb-6">Has iniciado sesión correctamente.</p>
    
    <LogoutButton client:load />
<AuthLayout/>
