---
import DashboardLayout from '../layouts/DashboardLayout.astro';

const user = Astro.locals.user;
const email = user.email;

export const prerender = false;
---

<DashboardLayout currentPath='/dashboard', title='Dashboard | Alimentos Venepan'>
    <!-- <h1 class="text-3xl font-bold mb-4">¡Bienvenido {email}!</h1> -->
    <!-- <p class="mb-6">Has iniciado sesión correctamente.</p> -->
</DashboardLayout>
