---
import AuthLayout from '../layouts/AuthLayout.astro';
import { supabase } from '../lib/supabase';

let sessionExpired = false;
const { data: { session } } = await supabase.auth.getSession();

if (!session) {
    sessionExpired = true;
}

export const prerender = false;
---

<AuthLayout title="Restablecer Contraseña">
    <section class="relative flex justify-center items-center h-dvh w-dvw bg-white">
        <div class="absolute top-5 left-3 flex items-center">
            <img src="/icons/chevron-left.svg" alt="Flecha atrás" class="w-4" />
            <a href="/ingresar" class="text-gray-600 text-sm hover:underline">
            Volver al Inicio de Sesión
            </a>
        </div>

       {
        sessionExpired ? (
            <div class="flex flex-col items-center justify-center bg-white p-8 gap-10">
                    <img src="/icons/logo.svg" alt="Venepan Logo" class="w-20" />

                    <div class="flex flex-col justify-center items-center gap-2">
                        <h1 class="text-gray-800 font-semibold text-3xl text-center">
                            Enlace Expirado
                        </h1>
                        <p class="text-gray-600 mb-0 w-[40ch] text-center mt-2">
                            Lo sentimos, tu enlace para restablecer la contraseña ha expirado. Por favor, solicita un nuevo enlace.
                        </p>
                    </div>

                    <a href="/recover-password" class="btn">
                        Solicitar Nuevo Enlace
                    </a>
                </div>
        ): null
        
       }
        
        
        <div class="flex flex-col items-center justify-center bg-white p-8 gap-10">
            <img src="/icons/logo.svg" alt="Venepan Logo" class="w-20" />

            <div class="flex flex-col justify-center items-center gap-2">
                <h1 class="text-gray-800 font-semibold text-3xl text-center">
                    Nueva Contraseña
                </h1>
                <p class="text-gray-600 mb-0 w-[40ch] text-center">
                    Ingresa tu nueva contraseña
                </p>
            </div>

            <form id="reset-form" class="flex flex-col gap-6 w-80">
                <div id="error-message" class="max-w-[40ch] bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded hidden">
                </div>
            
                <div id="success-message" class="max-w-[40ch] bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded hidden">
                </div>

                <div class="relative">
                    <input
                    id="new-password"
                    name="new-password"
                    type="password"
                    placeholder="Nueva contraseña"
                    class="border-b-2 border-light-gray p-3 w-full focus:border-primary outline-none"
                    required
                    minlength="6"
                    autocomplete="new-password"
                    />
                </div>

                <div class="relative">
                    <input
                    id="confirmed-password"
                    name="confirmed-password"
                    type="password"
                    placeholder="Confirmar contraseña"
                    class="border-b-2 border-light-gray p-3 w-full focus:border-primary outline-none"
                    required
                    minlength="6"
                    autocomplete="new-password"
                    />
                </div>

                <div class="flex flex-col gap-2">
                    <label for="show-password" class="text-gray-800 text-sm flex items-center gap-1">
                    <input
                        id="show-password"
                        type="checkbox"
                    />
                    Mostrar contraseña
                    </label>
                </div>

                <button type="submit" id="submit-btn" class="btn mt-4">
                    Actualizar Contraseña
                </button>
            </form>
        </div>
    </section>
</AuthLayout>

<script>
    const form = document.getElementById('reset-form') as HTMLFormElement;
    const confirmedPasswordInput = document.getElementById('confirmed-password') as HTMLInputElement;
    const newPasswordInput = document.getElementById('new-password') as HTMLInputElement;
    const showConfirmPasswordsCheckbox = document.getElementById('show-password') as HTMLInputElement;
    const errorMessage = document.getElementById('error-message') as HTMLDivElement;
    const successMessage = document.getElementById('success-message') as HTMLDivElement;
    const submitBtn = document.getElementById('submit-btn') as HTMLButtonElement;

    let loading = false;

    showConfirmPasswordsCheckbox.addEventListener('change', () => {
        if (showConfirmPasswordsCheckbox.checked) {
            confirmedPasswordInput.type = 'text';
            newPasswordInput.type = 'text';
        } else {
            confirmedPasswordInput.type = 'password';
            newPasswordInput.type = 'password';
        }
    });

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
    
        if (loading) return;
        
        loading = true;
        submitBtn.disabled = true;
        submitBtn.textContent = 'Actualizando...';
        errorMessage.classList.add('hidden');
        successMessage.classList.add('hidden');

        const formData = new FormData(form);

        // Validación de contraseñas
        if ((!newPasswordInput.value || newPasswordInput.value.trim() === "") || (!confirmedPasswordInput.value || confirmedPasswordInput.value.trim() === "")) {
            errorMessage.textContent = 'Ambos campos de contraseña son obligatorios';
            errorMessage.classList.remove('hidden');
            loading = false;
            submitBtn.disabled = false;
            submitBtn.textContent = 'Actualizar Contraseña';
            return;
        } else if (newPasswordInput.value !== confirmedPasswordInput.value) {
            errorMessage.textContent = 'Las contraseñas no coinciden';
            errorMessage.classList.remove('hidden');
            loading = false;
            submitBtn.disabled = false;
            submitBtn.textContent = 'Actualizar Contraseña';
            return;
        }

        try {
            const response = await fetch('/api/auth/reset-password', {
                method: 'POST',
                body: formData,
            });

            const data = await response.json();

            if (!response.ok) {
                errorMessage.textContent = data.error || 'Error al actualizar la contraseña.';
                errorMessage.classList.remove('hidden');
            } else {
                successMessage.textContent = data.message || '¡Contraseña acutalizada con éxito! Ingresa sesión con tu nueva contraseña.';
                successMessage.classList.remove('hidden');
                newPasswordInput.value = '';
                confirmedPasswordInput.value = '';
            }

        } catch (error) {
            errorMessage.textContent = 'Error de conexión';
            errorMessage.classList.remove('hidden');
        } finally {
            loading = false;
            submitBtn.disabled = false;
            submitBtn.textContent = 'Actualizar Contraseña';
        }
    })
</script>