---
import Image from "astro/components/Image.astro"
import aboutPic from "../../assets/images/inicio/about-pic.svg"
---
<section class="flex flex-col md:flex-row-reverse w-full mx-auto">
    <div class="bg-secondary w-full h-[450px] md:h-[540px] max-h-[540px] section-padding flex flex-col justify-center items-center md:items-start md:w-1/2 xl:p-20 2xl:px-40">
        <div class="self-center">
            <h2 class="section-title text-white text-start lg:mb-6">Sobre nosotros</h2>
            <p class="text text-white text-start max-w-[50ch] 2xl:max-w-[70ch]">La Asociación Civil de Alimentos VENEPAN pertenece a la compañía de alimentos IAHFC, dedicándose a la elaboración de alimentos saludables como panes integrales, texturizados de soya y cereales. Con un compromiso firme con la nutrición y el bienestar, promovemos una alimentación consciente basada en principios de salud y calidad.</p>
            
            <a href="/nosotros" class="btn mb-4 md:mb-0 self-start 2xl:mt-6">Saber más</a>
        </div>
    </div>
    <div class="w-full h-[400px] md:h-[540px] max-h-[540px] md:w-1/2 relative overflow-hidden">
        <Image 
        src={aboutPic}
        alt="Imagen sobre nosotros"
        class="object-cover w-full h-full"
        loading="lazy"
        />
    </div>
</section>