<section class="flex flex-col md:flex-row-reverse">
    <div class="bg-secondary w-full section-padding flex flex-col justify-center md:items-start md:w-1/2">
        <h2 class="section-title text-white lg:mb-6 text-start">Sobre nosotros</h2>
        <p class="text text-white text-start max-w-[50ch]">La Asociación Civil de Alimentos VENEPAN pertenece a la compañía de alimentos IAHFC, dedicándose a la elaboración de alimentos saludables como panes integrales, texturizados de soya y cereales. Con un compromiso firme con la nutrición y el bienestar, promovemos una alimentación consciente basada en principios de salud y calidad.</p>
        
        <a href="/src/pages/nosotros" class="btn mb-4 md:mb-0 self-start">Saber más</a>
    </div>
    <div class="bg-gray-900 w-full md:w-1/2 min-h-[387px] md:min-h-0">
        <!-- Carrusel -->
    </div>
</section>