---
import { Image } from "astro:assets";
import banner from "../../assets/images/inicio/banner-inicio.png";
---

<section class="w-full bg-secondary h-72 md:h-80 lg:h-[500px]">
   <!-- <Image
    src={banner}
    alt="Banner Venepan"
    class="h-full w-full object-cover object-center rounded-b-4xl"
    width={1000}
    height={200}
    loading="eager"
    format="webp"
   /> -->
</section>