---
import { Image } from "astro:assets";
import banner from "../../assets/images/inicio/banner-inicio.png";
---

<section class="w-full bg-secondary h-[450px] md:h-90 lg:h-[400px] lg:w-auto lg:m-10 lg:mb-0 lg:rounded-4xl">
   <!-- <Image
    src={banner}
    alt="Banner Venepan"
    class="h-full w-full object-cover object-center rounded-b-4xl"
    width={1000}
    height={200}
    loading="eager"
    format="webp"
   /> -->
</section>