<section class="section-padding flex justify-center lg:pt-0 lg:min-h-0">    
    <div class="CTA-background w-full h-full rounded-4xl p-10 flex flex-col items-center justify-center gap-6 md:p-14 md:gap-8 lg:py-16 lg:h-fit">
        <h2 class="text-secondary text-2xl/7 font-bold text-center max-w-[40ch] md:text-3xl">Haz crecer tu negocio con nuestros productos. ¡Conviértete en aliado de Venepan hoy mismo!</h2>
        <button class="btn">Contáctanos</button>
    </div>
</section>