<section class="section-padding flex flex-col lg:flex-row">

    <div class="mb-8 lg:w-1/2">
        <h2 class="section-title mb-2">Preguntas frecuentes</h2>
        <h3 class="text font-semibold">¿Aún necesitas ayuda? <a href="" class="text-primary underline"> Escríbenos!<a/></h3>
    </div>
    
    <dl class="text flex flex-col gap-8 min-w-[275px] lg:max-w-1/2 lg:gap-12">
        <details open>
            <summary class="font-medium cursor-pointer">¿Dónde puedo encontrar los productos de Venepan?</summary>
            <dd class="light-text mb-0 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque corrupti, explicabo illum praesentium obcaecati aliquid debitis.</dd>
        </details>     
        <details>
            <summary class="font-medium cursor-pointer">¿Tienen opciones para personas con necesidades especiales de alimentación?</summary>
            <dd class="light-text mb-0 mt-2">Sí, contamos con productos integrales y libres de colesterol, además de alternativas con soya y cereales saludables que se adaptan a diferentes estilos de vida.</dd>
        </details>
        <details>
            <summary class="font-medium cursor-pointer">¿Dónde puedo encontrar los productos de Venepan?</summary>
            <dd class="light-text mb-0 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque corrupti, explicabo illum praesentium obcaecati aliquid debitis.</dd>
        </details>    
         <details>
            <summary class="font-medium cursor-pointer">¿Dónde puedo encontrar los productos de Venepan?</summary>
            <dd class="light-text mb-0 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque corrupti, explicabo illum praesentium obcaecati aliquid debitis.</dd>
        </details> 
    </dl>
</section>