---

import Image from "astro/components/Image.astro"
---

<section class="section-padding flex flex-col items-center">
    <h2 class="section-title text-center mt-4 md:mt-0">Conoce nuestros productos</h2>
    <p class="light-text text-center max-w-[60ch] mb-10 md:mb-12 lg:mb-16">Te invitamos a explorar nuestra gama de productos Venepan, elaborados con ingredientes de calidad para acompañar tu día a día</p>

    <div class="flex flex-col gap-6 lg:flex-row lg:gap-8">
        <a href="" class="w-68 h-40 p-4 rounded-3xl border-1 border-light-gray card-shadow flex flex-col justify-between gap-2 md:w-80 md:p-6 md:h-44 lg:h-48 card-hover">
            <div class="flex w-full justify-between">
                <img src="/src/assets/images/inicio/cereal-icon.svg" alt="Cereal icon" class="w-14 lg:w-16">
                <svg class="w-8 h-8 p-1 text-secondary rotate-45 bg-light-blue rounded-3xl lg:w-10 lg:h-10 lg:p-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v13m0-13 4 4m-4-4-4 4"/>
                </svg>    
            </div>
            <div>
                <h3 class="text m-0 font-semibold">Cereales</h3>
                <p class="light-text text-sm m-0">Cereales nutritivos y deliciosos. ¡Tu energía diaria!</p>
            </div>
        </a>

        <a href="" class="w-68 h-40 p-4 rounded-3xl border-1 border-light-gray card-shadow flex flex-col justify-between gap-2 md:w-80 md:p-6 md:h-44 lg:h-48 card-hover">
            <div class="flex w-full justify-between">
                <img src="/src/assets/images/inicio/pan-icon.svg" alt="Pan icon" class="w-14 lg:w-16">
                <svg class="w-8 h-8 p-1 text-secondary rotate-45 bg-light-blue rounded-3xl lg:w-10 lg:h-10 lg:p-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v13m0-13 4 4m-4-4-4 4"/>
                </svg>    
            </div>
            <div>
                <h3 class="text m-0 font-semibold">Panes</h3>
                <p class="light-text text-sm m-0">Panes frescos para tus sándwiches. ¡La base perfecta!</p>
            </div>
        </a>

        <a href="" class="w-68 h-40 p-4 rounded-3xl border-1 border-light-gray card-shadow flex flex-col justify-between gap-2 md:w-80 md:p-6 md:h-44 lg:h-48 card-hover">
            <div class="flex w-full justify-between">
                <img src="/src/assets/images/inicio/soya-icon.svg" alt="Pan icon" class="w-14 lg:w-16">
                <svg class="w-8 h-8 p-1 text-secondary rotate-45 bg-light-blue rounded-3xl lg:w-10 lg:h-10 lg:p-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v13m0-13 4 4m-4-4-4 4"/>
                </svg>    
            </div>
            <div>
                <h3 class="text m-0 font-semibold">Soya</h3>
                <p class="light-text text-sm m-0">Productos de soya saludables y extruidos. ¡Pruébalo!</p>
            </div>
        </a>
    </div>
</section>
