<section class="section-padding flex flex-col items-center">
    <h2 class="section-title text-center mt-4 md:mt-0">Conoce nuestros productos</h2>
    <p class="light-text text-center max-w-[60ch] mb-10 md:mb-12 lg:mb-16">Te invitamos a explorar nuestra gama de productos Venepan, elaborados con ingredientes de calidad para acompañar tu día a día</p>

    <div class="flex flex-col gap-6 lg:flex-row lg:gap-8">
        <a href="" class="w-68 h-40 p-4 rounded-3xl border-1 border-light-gray card-shadow card-hover flex flex-col justify-between gap-2 md:w-80 md:p-6 md:h-44 lg:h-48">
            <div class="flex w-full justify-between">
                <div class="w-14 h-14 lg:w-16 lg:h-16">
                    <img src="/icons/cereal-icon.svg" alt="Cereal" class=" w-full h-full">
                </div>
                <img src="/icons/arrow-up-right.svg" alt="Flecha" class="w-8 h-8 p-1.5 bg-light-blue rounded-full">                
            </div>
            <div>
                <h3 class="text m-0 font-semibold">Cereales</h3>
                <p class="light-text text-sm m-0">Cereales nutritivos y deliciosos. ¡Tu energía diaria!</p>
            </div>
        </a>

        <a href="" class="w-68 h-40 p-4 rounded-3xl border-1 border-light-gray card-shadow card-hover flex flex-col justify-between gap-2 md:w-80 md:p-6 md:h-44 lg:h-48">
            <div class="flex w-full justify-between">
                <div class="w-14 h-14 lg:w-16 lg:h-16">
                    <img src="/icons/pan-icon.svg" alt="Pan" class="contain w-full h-full">
                </div>
                <img src="/icons/arrow-up-right.svg" alt="Flecha" class="w-8 h-8 p-1.5 bg-light-blue rounded-full">                
            </div>
            <div>
                <h3 class="text m-0 font-semibold">Panes</h3>
                <p class="light-text text-sm m-0">Panes frescos para tus sándwiches. ¡La base perfecta!</p>
            </div>
        </a>

        <a href="" class="w-68 h-40 p-4 rounded-3xl border-1 border-light-gray card-shadow card-hover flex flex-col justify-between gap-2 mb-4 md:mb-0 md:w-80 md:p-6 md:h-44 lg:h-48">
            <div class="flex w-full justify-between">
                <div class="w-14 h-14 lg:w-16 lg:h-16">
                    <img src="/icons/soy-icon.svg" alt="Soya" class=" w-full h-full">
                </div>
                <img src="/icons/arrow-up-right.svg" alt="Flecha" class="w-8 h-8 p-1.5 bg-light-blue rounded-full">                
            </div>
            <div>
                <h3 class="text m-0 font-semibold">Soya</h3>
                <p class="light-text text-sm m-0">Productos de soya saludables y extruidos. ¡Pruébalo!</p>
            </div>
        </a>
    </div>
</section>
