---
import { getCollection } from 'astro:content';

const reviews = await getCollection('reviews');
---

<section class="reviews-background section-padding flex flex-col items-center justify-center lg:mx-12 lg:rounded-4xl lg:min-h-0">
    
    <h2 class="section-title text-center mb-10 md:mb-12">¿Qué dicen nuestros clientes?</h2>
    
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-4 lg:gap-6">

        {
        reviews.map((review) => (
            <article class="flex flex-col justify-between min-w-[275px] max-w-[290px] md:max-w-[434px] p-5 bg-white rounded-3xl card-shadow"
                data-aos="fade-right"
                data-aos-offset="200">
           
            <div>
                <div class="w-fill flex justify-between items-center mb-1">
                    <h3 class="text-gray-800 text font-medium m-0 md:text-lg">{review.data.name}</h3>
                    <h4 class="light-text text-[12px] mb-0 font-medium md:text-sm">{review.data.date}</h4>
                </div>
                <p class="w-full text-gray-800 text-sm mb-0 mt-4 md:text-base">
                    {review.data.content}
                </p>
            </div>

            <div class="w-full text-right mt-2 lg:mt-6">
                {
                    Array.from({ length: review.data.stars }).map(() => (
                        <img src="/icons/star.svg" alt="Estrella" class="inline w-4 h-4 ml-1 md:w-5 md:h-5"/>
                    ))
                }
            </div>
        </article>
        ))
    }
    </div>
</section>