<footer class="bg-primary text-white px-6 py-8 md:px-12 lg:px-28 xl:px-36"> 
    <div>
        <section class="grid grid-cols-1 md:grid-cols-2">
            <div class="flex flex-col gap-5 w-fit">
                <img src="/icons/logo-blanco.svg" alt="Logo Venepan Blaco" class="w-20">
                <h3 class="font-semibold text-2xl/7 max-w-[30ch]">Alimentos Venepan, Realmente Saludables!</h3>
            </div>
        
            <div class="flex justify-between mt-12 md:mt-[90px] 2xl:justify-self-end 2xl:gap-56">
                <div>
                    <h4 class="text-xl font-semibold">Contacto</h4>
                    <ul class="flex flex-col gap-3 mt-3 text-sm lg:gap-4 xl:gap-6">
                        <li class="flex items-center gap-2">
                            <img src="/icons/map-pin-white.svg" alt="Ubicación" class="w-5">
                            <p>Nirgua, Yaracuy, Venezuela</p>
                        </li>
                        <li class="flex items-center gap-2">
                            <img src="/icons/phone-white.svg" alt="Teléfono" class="w-5">
                            <p>(0254) 6821019</p>
                        </li>
                        <li class="flex items-center gap-2">
                            <img src="/icons/mail-white.svg" alt="Email" class="w-5">
                            <p>venepan5@hotmail.com</p>
                        </li>
                    </ul>
                </div>
        
                <div class="2xl:mr-10">
                    <h4 class="text-xl font-semibold">Navegación</h4>
                    <ul class="flex flex-col gap-3 mt-3 text-sm lg:gap-4">
                        <a href="/" class="hover:underline">Inicio</a>
                        <a href="/productos" class="hover:underline">Productos</a>
                        <a href="/nosotros" class="hover:underline">Nosotros</a>
                        <a href="/recetas" class="hover:underline">Recetas</a>
                    </ul>
                </div>
            </div>
        </section>
    
        <section class="flex justify-between items-end mt-20">
            <span>Copyright ©  Alimentos Venepan 2025</span>
            <div class="flex gap-3">
                <a href="" target="_blank" rel="noopener noreferrer" class="bg-white min-w-10 min-h-10 rounded-3xl flex items-center justify-center">
                    <img src="/icons/whatsapp-line.svg" alt="Whatsapp">
                </a>
                <a href="https://www.facebook.com/Venepannirgua" target="_blank" rel="noopener noreferrer" class="bg-white min-w-10 min-h-10 rounded-3xl flex items-center justify-center">
                    <img src="/icons/facebook-fill.svg" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/alimentosvenepan/" target="_blank" rel="noopener noreferrer" class="bg-white min-w-10 min-h-10 rounded-3xl flex items-center justify-center">
                    <img src="/icons/instagram-line.svg" alt="Instagram">
                </a>
            </div>
        </section>
    </div>
</footer>