<section class="mb-12">
    <h1 class="section-title mb-4 mt-0 md:mb-4 max-w-[20ch]">Estamos Listos para Colaborar Contigo</h1>
    <p class="text-gray-600 text-start max-w-[55ch]">¿Tienes preguntas sobre nuestros productos o estás interesado en pedidos al mayor? Déjanos tu mensaje y te responderemos a la brevedad.</p>
</section>