<section class="relative flex justify-center items-center h-dvh w-dvw bg-white">
        <div class="absolute top-5 left-3 flex items-center">
            <img src="/icons/chevron-left.svg" alt="Flecha atrás" class="w-4">
            <a href="/" class="text-gray-600 text-sm hover:underline">Volver al inicio</a>
        </div>

        <div class="flex flex-col items-center justify-center bg-white p-8 gap-10">
            <img src="/icons/logo.svg" alt="Venepan Logo" class="w-20">
            
            <div class="flex flex-col justify-center items-center gap-2">
                <h1 class="text-gray-800 font-semibold text-3xl">¡Bienvenido de vuelta!</h1>
                <p class="text-gray-600 mb-0">Ingresa tus datos para continuar</p>
            </div>
    
            <form class="flex flex-col gap-6 w-80">
                <input id="email" type="email" placeholder="Email" class="border-b-2 border-light-gray p-3">

                <input id="password" type="password" placeholder="Password" class="border-b-2 border-light-gray p-3">
               

                <div class="flex justify-between items-center">
                    <label for="show-password" class="text-gray-800 text-sm flex items-center gap-1">
                        <input id="show-password" type="checkbox">
                        Mostrar contraseña
                    </label>

                    <a href="/recover-password" class="text-primary hover:underline self-end text-sm">Olvidé mi contraseña</a>
                </div>

                <div class="flex flex-col gap-3 mt-6">
                    <button type="submit" class="btn disabled:opacity-50">Ingresar</button>
                    
                    <span class="light-text text-sm mb-0 text-center">O continúa con</span>
                    
                    <button class="btn bg-light-blue text-gray-600 flex justify-center gap-2">
                        <img src="/icons/google-icon.svg" alt="Google" class="w-5">
                        Google
                    </button>
                </div>
            </form>
        </div>
    </div>    
    
</section>