<section class="relative flex justify-center items-center h-dvh w-dvw bg-white">
        <div class="absolute top-5 left-3 flex items-center">
            <img src="/icons/chevron-left.svg" alt="Flecha atrás" class="w-4">
            <a href="/" class="text-gray-600 text-sm hover:underline">Volver al inicio</a>
        </div>

        <div class="flex flex-col items-center justify-center bg-white p-8 gap-10">
            <img src="/icons/logo.svg" alt="Venepan Logo" class="w-20">
            
            <div class="flex flex-col justify-center items-center gap-2">
                <h1 class="text-gray-800 font-semibold text-3xl text-center">¿Olvidaste tu contraseña?</h1>
                <p class="text-gray-600 mb-0 w-[40ch] text-center">No te preocupes, te enviaremos instrucciones para recuperarla</p>
            </div>
    
            <form class="flex flex-col gap-6 w-80">
                <input id="email" type="email" placeholder="Email" class="border-b-2 border-light-gray p-3">               

                <button type="submit" class="btn disabled:opacity-50 mt-4">Enviar</button>
                
                <a href="/login" class="text-primary self-center hover:underline">Volver al Login</a>
                
            </form>
        </div>
    </div>    
</section>